 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://pixabay.com/get/g96bb8c0d842f073554e99de4df61f3a0503645cc492f2bab73cc68268fd116af7a4e8cc93540aa49f7a49eac102802d5f983cf14ce51dbcd1034ee9f7029e1f5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-text-1 {
  margin: 386px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 570px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/c4e463d6ab39116dca185e89e4ef1393d376e1fab8521a469dc2d7c23f78549dc1ce999538810a6d7055a2eb366951fba8196cff6a28489e711041_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-2 .u-text-1 {
  margin: 276px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 100px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/59d582ae48cb8a2f5a9a5b662d4e04b8117275b1a6174a17036bafd0d664ad1acab3b650a504085bb6aa0b76c27f11fe951cc6350f1e1eb3cc79b7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  margin: 278px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 157px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 250px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 17px auto 0;
}